<div class="legend">
    <div class="item">
        <p>Máscara</p>
        <div class="image-legend-wrapper">
            <div class="image-legend">
                <img src="/assets/images/png/required-mask.png"/>
                <span>Obrigatório</span>
            </div>
            <div class="image-legend">
                <img src="/assets/images/png/recommended-mask.png"/>
                <span>Recomendado</span>
            </div>
        </div>
    </div>
    <div class="item">
        <p>Toalha</p>
        <div class="image-legend-wrapper">
            <div class="image-legend">
                <img src="/assets/images/png/required-towel.png"/>
                <span>Obrigatório</span>
            </div>
            <div class="image-legend">
                <img src="/assets/images/png/recommended-towel.png"/>
                <span>Recomendado</span>
            </div>
        </div>
    </div>
    <div class="item">
        <p>Bebedouro</p>
        <div class="image-legend-wrapper">
            <div class="image-legend">
                <img src="/assets/images/png/partial-fountain.png"/>
                <span>Parcial</span>
            </div>
            <div class="image-legend">
                <img src="/assets/images/png/not_allowed-fountain.png"/>
                <span>Proibido</span>
            </div>
        </div>
    </div>
    <div class="item">
        <p>Vestiários</p>
        <div class="image-legend-wrapper">
            <div class="image-legend">
                <img src="/assets/images/png/allowed-lockerroom.png"/>
                <span>Liberado</span>
            </div>
            <div class="image-legend">
                <img src="/assets/images/png/partial-lockerroom.png"/>
                <span>Parcial</span>
            </div>
            <div class="image-legend">
                <img src="/assets/images/png/closed-lockerroom.png"/>
                <span>Fechado</span>
            </div>
        </div>
    </div>
</div>
